* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > header {
    background-color: blue;
    padding: 16px 0;
    color:beige
}

header .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

header li a {
    color:beige;
    margin-left: 16px;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*width: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    padding: 8px;
    display: inline-block;
    color: beige;
    font-weight: bold;
    margin-top: 8px;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    font-size: 23px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color:rgb(91, 163, 20);
    
}

#economy {
    background-color: rgb(255, 255, 171);
}

#economy .articles article a{
    background-color: rgb(255, 123, 0);
}

#tecnologia {
    background-color: rgb(182, 182, 255);
}

#automobilismo {
    background-color: rgb(255, 185, 185);
}

#automobilismo .articles article  a{
    background-color: red;
}