* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(66, 66, 66);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    display: flex;
    justify-content: center;
    color: white;
}

form h2 {
    justify-content: center;
    display: flex;
    margin: 10px 10px;
    color: white;
}

form div {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

form input {
    padding: 10px;
    margin-right: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

form button {
    padding: 5px;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
}

ul li  {
    justify-content: center;
    display: flex;
    margin-top: 20px;
    color: white;
}

#nova-mensagem{
    cursor: pointer;
    font-size: 20pt;
}




